{% extends "pages/base.html" %}
{% block title %} student {% endblock%}
{% block content %}
<center>
    <h1> Chuong trinh cua hoc sinh</h1>
    <a href="/teacherview/{{acc.id}}/{{student.id}}/"><button><span class = "page-header" style = "font-size:30px">Xem Thong Tin Giang Vien</span></button></a>
    <br>
    <a href="/studentinf/{{acc.id}}/{{student.id}}/"><button><span class = "page-header" style = "font-size:30px">Xem Thong Tin Ca Nhan</span></button></a>
    <br>
    <a href="/viewclass/{{acc.id}}/{{student.id}}/"><button><span class = "page-header" style = "font-size:30px">Xem Danh Sach Lop Sinh vien</span></button></a>
    <br>
     <a href="/"><button><span class = "page-header" style = "font-size:30px">Tro lai trang chu</span></button></a>

</center>


{% endblock %}}