{% extends "pages/base.html" %}
{% block title %} student {% endblock%}
{% block content %}
<center>
    <h1>Danh sách học sinh học lớp {{class.name}}</h1>
    {% for s in stcls %}
        {% if s.classId is class.idcls%}
            {% for s1 in data %}
                {% if s1.id is s.student %}
                    <h4>{{s1.name}}</h4>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</center>
<center><a href="/viewclass/{{acc.id}}/{{student.id}}/"><button><span class = "page-header" style = "font-size:10px">Tro ve trang truoc</span></button></a></center>
{% endblock %}}