{% extends "pages/base.html" %}
{% block title %} Sislite-Student {% endblock%}
{% block content %}
<center>
    <h1>Danh sách học sinh học lớp {{class.name}}</h1>
    <h4>{{temp.name}}</h4>
    <h5>{{temp.mssv}}</h5>
    {% for s in stcls %}
        {% if s.classId is class.idcls%}
            {% for s1 in student %}
                {% if s1.id is s.student %}
                    <h4>{{s1.name}}</h4>
                    <h5>{{s1.mssv}}</h5>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</center>
<center>
        <form method='POST' action='.'>
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" style="color: #C7CED6">Thêm
        </form>
   </center>
<center>
	<button><a class="thea"href="/teacher/{{acc.id}}/{{teacher.id}}" target="_self">Trở về trang chủ</a></button>
</center>

{% endblock %}}