{% extends "pages/base.html" %}
{% block title %} Sislite-Student {% endblock%}
{% block content %}
<center>
    <h1> Chương trình của học sinh</h1>
    <button><a class="thea" href="/teacherview/{{acc.id}}/{{student.id}}/" target="_self">Xem thông tin giảng viên</a></button>
    <br/>
    <br/>
    <button><a class="thea" href="/studentinf/{{acc.id}}/{{student.id}}/" target="_self">Xem thông tin cá nhân</a></button>
    <br/><br/>
    <button><a class="thea" href="/viewclass/{{acc.id}}/{{student.id}}/" target="_self">Xem danh sách lớp sinh viên</a></button>
    <br/><br/>
    <button><a class="thea" href="/logout" target="_self">Đăng xuất</a></button>

</center>


{% endblock %}}