
<!doctype html>
<title>Sislite-Student information</title>
<header>
    {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <!--<meta charset="UTF-8">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css"% }" type= "text/c">
    <link rel="stylesheet" type="text/css" href="{% static "css/button.css"%} ">
<body style="background-image: url('{%static "images/ts.hust.edu.vn.4.jpg"%}')">
  <center>
          <h1>
            Thông tin sinh viên đăng nhập
              <h3> Họ Tên : {{student.name}}</h3>
              <h3>Mssv : {{student.mssv}}</h3>
              <h3> Lớp :{{student.student_class}}</h3>
              <h3> Liên hệ : {{student.email}}</h3>
          </h1>
      <button><a class="thea" href="/student_home/{{acc.id}}/{{student.id}}/" target="_self">Trở lại trang trước</a></button>
      </center>
</body>
