{% extends "pages/base.html" %}
{% block title %} Sislite-Student information{% endblock%}
{% block content %}
  <center>
          <h1>
            Thông tin sinh viên đăng nhập
              <h3> Họ Tên : {{student.name}}</h3>
              <h3> Mssv : {{student.mssv}}</h3>
              <h3> Lớp :{{student.student_class}}</h3>
              <h3> Liên hệ : {{student.email}}</h3>
          </h1>
      <button><a class="thea" href="/student_home/{{acc.id}}/{{student.id}}/" target="_self">Trở lại trang trước</a></button>
      </center>
</body>
{% endblock %}}