{% extends "pages/base.html" %}
{% block title %} Home-Registrations {% endblock%}
{% block content %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Login</title>
</head>
<div>
    <center>
        <h1 style="font-size:60px">
            TEACHER REGISTRATIONS
        </h1>
    </center>
</div>
   <center>
        <form method='POST' action='.'>
            {% csrf_token %}
            {{form.as_p}}
            <!--input type = "submit" style = "font-size:40px" value = "Đăng Kí" /-->
            <button type="submit" style="color:#C7CED6">Đăng kí</button>
        </form>
   </center>
<br>
<center>
    <button><a class="thea" href="/" target="_self">Về trang trước</button></a>
</center>
</div>
{% endblock %}}
