
<!doctype html>
<title>Sislite-Views Teacher</title>
<header>
    {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <!--<meta charset="UTF-8">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'% }" type= "text/c">
    <link rel="stylesheet" type="text/css" href="{%static 'css/button.css'%} ">

</header>
<body style="background-image: url('{%static 'images/ts.hust.edu.vn.4.jpg'%}')">
  <center>
          <h1>
              Giảng Viên Dạy Lớp Của Bạn
          </h1>
          {% for s in stclass %}
            {% if s.student is student.id %}
                {% for s1 in lectclass %}
                    {% if s1.classid is s.classId %}
                        {%for s2 in teacher %}
                            {% if s2.id is s1.lecturerId %}
                                <h2>Giảng viên:{{s2.name}}</h2>
                                <h4>Liên hệ: {{s2.phone_mail}} </h4>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
          {% endfor %}

        <button><a class="thea" href="/student_home/{{acc.id}}/{{student.id}}/" target="_self">Trở lại trang trước</a></button>
        </center>
</body>
