{% extends "pages/base.html" %}
{% block title %} home {% endblock%}
{% block content %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Login</title>
</head>
<br>
<div>
    <center>
        <h1 style="font-size:60px">
            TEACHER REGISTRATIONS
        </h1>
    </center>
</div>
   <center>
        <form method='POST' action='.'>
            {% csrf_token %}
            {{form.as_p}}
            <input type = "submit" style = "font-size:40px" value = "Đăng Kí" />
        </form>
   </center>
<br>
<center>
<a href="/"><button><span class = "page-header" style = "font-size:40px">Về trang trước</span></button></a>
</center>
</div>
{% endblock %}}
