{% extends "pages/base.html" %}
{% block title %} Sislite-Views Teacher {% endblock%}
{% block content %}
{% load staticfiles %}
 
  <center>
          <h1>
              Giảng Viên Dạy Lớp Của Bạn
          </h1>
          {% for s in stclass %}
            {% if s.student is student.id %}
                {% for s1 in lectclass %}
                    {% if s1.classid is s.classId %}
                        {%for s2 in teacher %}
                            {% if s2.id is s1.lecturerId %}
                                <h2>Giảng viên:{{s2.name}}</h2>
                                <h4>Liên hệ: {{s2.phone_mail}} </h4>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
          {% endfor %}

        <button><a class="thea" href="/student_home/{{acc.id}}/{{student.id}}/" target="_self">Trở lại trang trước</a></button>
        </center>
{% endblock %}}
