{% extends "pages/base.html" %}
{% block title %} Sislite-Student {% endblock%}
{% block content %}
<center>
    <h1>Các lớp mà bạn đang theo học</h1>
    {% for s in stcls %}
        {% if s.student is student.id %}
            {% for s1 in clsname %}
                {% if s1.idcls is s.classId %}
                    <center>
                        <button><a class="thea" href="/memcls/{{acc.id}}/{{student.id}}/{{s.classId}}" target="_self">{{s1.name}}</a></button><br/><br/>
                    </center>
                {% endif%}
            {% endfor %}
        {% endif %}
    {% endfor %}
</center>
<center>
    <button><a class="thea" href="/student_home/{{acc.id}}/{{student.id}}/" target="_self">Trở về trang trước</a></button>
</center>
{% endblock %}}