button{
	border-radius: 10px;
	text-align: center;
	height: 0.9cm;
	width: 2.5cm;
	border:0.5cm;
	padding: center;
	font:20px;
	background-color: #338CC4;
	text-decoration-color: #C7CED6;
	width: 150px;
}
body
{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position:center;
	background-size: cover;
	/*background-image: url('https://ctt-daotao.hust.edu.vn/Images/logo-cttdt.png'),style="max-height: 100px";*/
	background-image: url('ts.hust.edu.vn.4.jpg');
}

a{
	text-decoration: none;
}
.table{
	width: 50%;
	border: 1px;
}
.form-group label{
	text-align: center;
	width: 120px;
	font:;
}
.thea{
	color:#C7CED6;
}